body {
  font-family: 'Montserrat', sans-serif;
}

.flatpickr-input {
  border-radius: 4px;
  width: 272px;
  height: 40px;
  border-radius: 8px;
}

button {
  font-weight: 500;
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  background: #4e75ff;
  border: none;
  height: 40px;
}
button:hover {
  background-color: #6c8cff;
}

button:disabled {
  background-color: #cfcfcf;
  color: #989898;
}

.timer {
  display: flex;
  gap: 24px;
}

.field {
  display: flex;
  flex-direction: column;
}

.value {
  font-size: 40px;
}

.label {
  font-size: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  gap: 20px;
}

label:first-child {
  display: flex;
  flex-direction: column;
}

input[type='number'] {
  height: 40px;
  border-radius: 8px;
}

input[type='radio'] {
  border-radius: 8px;
}
